# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
dist/
.angular/
out-tsc/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
.DS_Store
*.env
